{% extends 'navigationbar_tutor.html' %}
<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>{% block title %}Edit Profile | NOODLE {% endblock %} </title>
	{% block head %}
	<link href = "{% static 'my_app/editProfile-style.css'%}" type = "text/css" rel = "stylesheet">
	{% endblock %}
</head>

{% block body %}

	<div id = "main">
		<div id = "top">
			<h3 style = "text-align: left; float: left; padding-left: 20px">EDIT PROFILE</h3>
			<h3 style = "text-align: right; float: right; padding-right: 20px">Name: {{user.last_name}}, {{user.first_name}}</h3>
		</div>

		<div id = "content-tutor">
			<form method="POST" name="myForm">
				{% csrf_token %}
				<!-- Name: <input type="text" name="name" value="John Mark Borja" readonly><br>
				Tutor ID: <input type="text" name="tutorID" value="123456" readonly><br>
				Email: <input type="text" name="email" value="jm@mail.com" readonly><br>
				Mobile Number: <input type="text" name="mobileNo"><br> -->
				{{form.as_p}}
			<br>
			<button class = "btn btn-outline-info" type="submit">Save</button>
            <!-- <input type="button" onclick="formSubmit()" value="Save" align="right" width="48" height="48"> -->
            </form>

		</div>

	</div>
    
{% endblock %}
</html>
