{% extends 'navigationbar_tutor.html' %}
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>{% block title %} Student Profile | NOODLE{% endblock %} </title>
        {% block head %}
        <link href = "{% static 'my_app/profile-style.css' %}" type = "text/css" rel = "stylesheet">
        {% endblock %}
    </head>
    {% block body %}
        <div id = "main">
            <div id = "top">
                <h3 style = "text-align: left; float: left; padding-left: 20px">STUDENT PROFILE</h3>
                <h3 style = "text-align: right; float: right; padding-right: 20px">Name: {{teacher.last_name}}, {{teacher.first_name}}</h3>
            </div>
                
                <div id="content-extended">
                <table>
                    <tr>
                        <th>Name: </th>
                        <td>{{student.first_name}} {{student.last_name}}</td>
                    </tr>
                    <tr>
                        <th>StudentID: </th>
                        <td>{{student.username}}</td>
                    </tr>
                    <tr>
                        <th>Email: </th>
                        <td>{{student.email}}</td>
                    </tr>
                    <tr>
                        <th>Mobile Number: </th>
                        <td>{{student.contact}}</td>
                    </tr>
                    <tr>
                        <th>Address: </th>
                        <td>{{student.street_name}}, {{student.city}}</td>
                    </tr>
                    <tr>
                        <th>Emergency Contact: </th>
                        <td>{{student.emergency_contact}}.</td>
                    </tr>
                    <tr>
                        <th>Birthday: </th>
                        <td>{{student.birthday}}</td>
                    </tr>
                </table>
                <br>
                    
                    <div id="submissions-content">
                        <h4>Submissions</h4>
                        <table>
                            <tr>
                                <th>Link to Module</th>
                                <th>Due date</th> 
                                <th>Comments</th>
                            </tr>
                            
                            {% for mod in modules %}
                            <tr class = "Modules">
                                <td><a href = "modules/{{ mod.ModuleTitle }}"> <p>{{mod.ModuleTitle}}</p></a></td>
                                <td>{{ mod.pub_date }}</td>
                                {% for sub in submission_list %}
                                {% if sub.Homework.ModuleTitle == mod and sub != None %}                            
                                <td>{{ sub.Comment }}</td>
                                {% else %}
                                <td>No Submission</td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            
                        </table>
                        
                    </div>
                </div>            
	       </div>
    {% endblock %}
</html>
