{% extends "navigationbar_tutor.html" %}
<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>{% block title %}Tutor Profile | NOODLE{% endblock %}</title>
	{% block head %}
	<link href = "{%static 'my_app/tutorProfile-style.1.css' %}" type = "text/css" rel = "stylesheet">
	{% endblock %}
</head>

{% block body %}

	<div id = "main">
		<div id = "top">
			<h1 style = "text-align: left; float: left; padding-left: 20px">TUTOR PROFILE</h1>
			<h1 style = "text-align: right; float: right; padding-right: 20px">Name: {{user.last_name}},{{user.first_name}}</h1>
		</div>

		<div id = "content">
			<h3 style = "padding-bottom: 50px">Name: {{user.first_name}} {{ user.last_name }}</h3>

			<h3>Tutor ID: {{ user.username }}</h3>

			<h3>Email: {{user.email}}</h3>

			<h3>Mobile Number: {{user.contact}}</h3>

			<h3>Birthday: {{user.birthday}}</h3>
		</div>

		<div id = "edit">
			<a href = "update/{{ user.username }}">
				<h3>Edit</h3>
			</a>
		</div>

	</div>

{% endblock %}
</html>