{% extends 'navigationbar_student.html' %}
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>{% block title %} Tutor Profile | NOODLE{% endblock %} </title>
        {% block head %}
        <link href = "{% static 'my_app/profile-style.css'%} " type = "text/css" rel = "stylesheet">
        {% endblock %}
    </head>
    {% block body %}
        <div id = "main">
            <div id = "top">
                <h3 style = "text-align: left; float: left; padding-left: 20px">TUTOR PROFILE</h3>
                <h3 style = "text-align: right; float: right; padding-right: 20px">Name: {{student_user.last_name}}, {{student_user.first_name}}</h3>
            </div>
            <div id="content-tutor">
                <table>
                    <tr>
                        <th>Name: </th>
                        <td>{{user.first_name}} {{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <th>TutorID: </th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                            <th>Emergency Contact: </th>
                            <td>{{ user.emergency_contact }}</td>
                        </tr>
                        
                    <tr>
                        <th>Email: </th>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <th>Mobile Number: </th>
                        <td>{{user.contact}}</td>
                    </tr>
                    <tr>
                        <th>Birthday: </th>
                        <td>{{user.birthday}}</td>
                    </tr>
                </table>
            </div>

	       </div>
    {% endblock %}
</html>
