body
{
	background-image: url("back1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#homered
{
	font-family: "Helvetica";
	font-size: 13pt;
}

#main
{
	width: 1400px;
	height: 700px;
	background-color: #ffffff;
	border: solid 5px #00004c;

	margin: 30px auto auto auto;

	font-family: "Helvetica";
	text-align: center;
}

#top
{

}

#content
{
	width: 600px;
	height: 400px;
	margin: 90px auto auto auto;
	float: none;
}

#content-student
{

}

#content-tutor
{

}

#edit
{
	width: 150px;
	height: 50;
	background: #b2b2ff;

	margin-top: 120px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: 350px;

	float: right;
	text-align: center;
}

h1
{
	font-family:  "Helvetica";
	font-size: 18pt;
	color: #00004c;
}

h2
{
	font-family: "Helvetica"
	font-size: 18pt;
	color: #00004c;
}

a
{
	text-decoration: none;
}

p
{
	font-family: "Helvetica";
	font-size: 13pt;
}

table
{
	width: 100%;
	font-family: "Helvetica";
	font-size: 13pt;
}

th
{
	padding-bottom: 25px;
}

input 
{
    
}

input[type=text] 
{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 14px;
}

input[type=text]:focus 
{
    background-color: lightblue;
}

input[type=button], input[type=submit], input[type=reset] 
{
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

input:read-only 
{ 
    color: grey;
    font-size: 14px;
}

label
{
	display: inline-block;
	width: 100px;
	text-align: left;
}

#button
{
	margin-left: 120px;
}