body
{
	background: #196dff;
}

#homered
{
	font-family: "Helvetica";
	font-size: 13pt;
}

#main
{
	width: 1400px;
	height: 750px;
	background: #ffffff;
	border: solid 5px #00004c;

	margin-top:  auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;

	font-family: "Helvetica";
	text-align: center;
}
#desc
{
	max-width:550px;
	padding-right:25px;
	word-wrap:break-word;
}

/* #top
{

} */
input[type=button]
{
	background-color: black;
    border: none;
    color: white;
    font-size: 18px;
    padding: 16px 32px;
    text-decoration: none;
    /* margin: 4px 2px; */
    cursor: pointer;
	border-radius: 4px;
	margin-top:60px;
}
#content
{
	padding-top: 40px;
	clear: both;

	width: 1300px;
	height: 500px;
	background: #b2b2ff;

	margin-top:  50px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	overflow:auto;
}

#table
{
	padding-left: 40px;
	text-align: left;
}

h1
{
	font-family:  "Helvetica";
	font-size: 18pt;
	color: #00004c;
}

h2
{
	font-family: "Helvetica";
	font-size: 18pt;
	color: #00004c;
}

a
{
	text-decoration: none;
}

p
{
	font-family: "Helvetica";
	font-size: 13pt;
}

table
{
	width: 100%;
	font-family: "Helvetica";
	font-size: 13pt;
}

th
{
	padding-bottom: 25px;
	padding-top: 0px;
	max-width:500px
}

td
{
	padding-top: 15px;
	padding-bottom: 15px;
	/* border-bottom: 1px solid #000000;
	border-top: 1px solid #000000; */
}