body
{
	height: 100%;
    color:white;
    background-repeat: no-repeat;
    background-image: linear-gradient(#182848, #11ffbd);
    background-size:auto;
    background-attachment: fixed;
    text-align: center;
}

#main
{
	font-family: "Trebuchet MS";
    align-content: center;
    font-size: 18px;
}
button{
    background-color: black;
    border: none;
    color: white;
    font-size: 18px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
#top
{
    font-size: 20px;
}

#content
{
	padding-top: 40px;
	padding-left: 40px;
    padding-right: 40px;

	width: 400px;
	height: 240px;
    align-content: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;

	margin:  120px auto auto auto;
    display: inline-block;
}

#content-extended /*black box for tutor*/
{
	padding-top: 40px;
	padding-left: 40px;
    padding-right: 40px;

	width: 600px;
	height: 700px;
    align-content: center;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;

	margin-top:  120px;
	margin-bottom: 120px;
	margin-left: auto;
	margin-right: auto;

	float: left;
	text-align: left;
}

a /*links*/
{
    font-size: 18px;
    color:lightsalmon;
}


input[type=text], [type = password] 
{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 14px;
}

input[type=text]:focus 
{
    background-color: lightblue;
}

input[type=button], input[type=submit], input[type=reset] 
{
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

input:read-only 
{ 
    color: grey;
    font-size: 14px;
}
 

table, th, td 
{
    border-collapse: collapse;
    font-family: "Trebuchet MS";
}
th
{
    padding: 10px;
    text-align: right;
    color:cadetblue;
    font-size: 20px;
}
td
{
    text-align: left;
    padding-left: 15px;
}

#tutor-link
{
    font-size: 18px;
}

label
{
    display: inline-block;
    width: 100px;
    text-align: left;
}