{% extends "navigationbar_tutor.html" %}
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>{% block title %}Home | NOODLE{% endblock %} </title>
        {% block head %}
        <link href = "{% static 'my_app/home-style.css' %}" type = "text/css" rel = "stylesheet">
        {% endblock %}
    </head>


        {% block body %}
        <div id = "main">
		<div id = "top">
			<h3 style = "text-align: left; float: left; padding-left: 20px">HOMEPAGE</h3>
			<h3 style = "text-align: right; float: right; padding-right: 20px">Name: {{user.last_name}}, {{user.first_name}}</h3>
		</div>
        <br>
        <div class="split left">
            <div class="centered">
                <div id = "content-tutor">
                    <input type="button" onclick="location.href='{% url 'user_profile' %}'" value="Tutor Profile">
                    <br>
                    <input type="button" onclick="location.href='{% url 'student_list' %}'" value="Students">
                    <input type="button" onclick="location.href='{% url 'module_list' %}'" value="All Modules">
                </div>
            </div>
        </div>
        <div class = "split right">
            <div class="centered">
                <div id = "news">
                    <h4>What's New?</h4>
                    <table>
                        <tr>
                            <th>Module Title</th>
                            <th>Date Uploaded</th>
                        </tr>
                        {% for mod in new_modules %}
                        <tr>
                            <td><a href="modules/{{ mod.ModuleTitle }}">{{mod.ModuleTitle}}</a></td>
                            <td>{{ mod.pub_date }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id = "due">
                    <h4>Due This Week</h4>
                    <table>
                        <tr>
                            <td><a href="modules/{{latest_module.ModuleTitle}}">{{latest_module.ModuleTitle}}</a></td>
                            <td>{{latest_module.pub_date}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>  
    </div>
   {% endblock %}
</html>
