{% extends 'navigationbar_student.html' %}
<!DOCTYPE html>
<html>
<head>
		{% load static %}
	<title>{% block title %}Home | NOODLE{% endblock %}</title>
	{% block head %}
	<link href = "{% static 'my_app/home-style.css' %}" type = "text/css" rel = "stylesheet">
	{% endblock %}
</head>

{% block body %}

	<div id = "main">
		<div id = "top">
			<h1 style = "text-align: left; float: left; padding-left: 20px">HOMEPAGE</h1>
			<h1 style = "text-align: right; float: right; padding-right: 20px">Name: {{user.last_name}}, {{user.first_name}}</h1>
		</div>

		<div id = "content">
			<a href = "{% url 'user_profile'%}"><h3>Student Profile</h3></a>
            <a href = "calendar.html"><h3>Calendar</h3></a>
            <a href = "allModules_student.html"><h3>All Modules</h3></a>
		</div>

	</div>

{% endblock %}
</html>