{% extends 'navigationbar_student.html' %}
<!DOCTYPE html>
<html>
    <head>
		{% load static %}
		<title> {% block title %}Module | NOODLE{% endblock %} </title>
		{% block head %}
		<link href = "{%static 'my_app/module-style.css'%}" type = "text/css" rel = "stylesheet">
		{% endblock %}
    </head>
    {% block body %}
<!DOCTYPE html>
<html>
    <head>
        <title> Module | NOODLE </title>
        <link href = "module-style.css" type = "text/css" rel = "stylesheet">
    </head>

    <body>
	</div>
        <div id = "main">
            <div id = "top">
                <h3 style = "text-align: left; float: left; padding-left: 20px">MODULE</h3>
                <h3 style = "text-align: right; float: right; padding-right: 20px">Name: {{user.last_name}}, {{user.first_name}}</h3>
            </div>
			
			<br>
			<br>
			<br>
			<br>
			<br>
            <div id = "content">
			<div id = "table">
				<table id = "tab1">
					<tr>
						<th>Introduction to HTML 1</th>
					</tr>

					<tr>
						<th style = "padding-bottom: 25px; padding-left: 20px">
							<a href = "{{module.file.url}}">DOWNLOAD Module File Here!</a>
						</th>
					</tr>

					<tr>
						<td style = "padding-bottom: 25px">Date Uploaded: </td>
						<td style = "padding-bottom: 25px">{{module.pub_date}}</td>
						<td style = "padding-bottom:25px">Uploaded by:</td>
						<td style = "padding-bottom: 25px">{{ module.Tutor.first_name }} {{ module.Tutor.last_name }}| {{ module.Tutor.username }}</td>
					</tr>

					<tr>
						<th>Homework </th>
					</tr>

					<tr>
						<td>Due date: </td>
						<td>{{homework.deadline}}</td>
					</tr>

					<tr>
						<td>Instructions: </td>
						<td class = 'deets'>{{homework.details}}</td>
					</tr>
                    
                    <tr>
						<td style = "padding-bottom: 25px">Date Uploaded: </td>
						<td style = "padding-bottom: 25px">{{homework.pub_date}}</td>
					</tr>
                    
                    <tr>
						<th>Submission status:</th>
                        <th>Comments:</th>
                    </tr>

                    <tr>
							{% if submission  %}
							<td>Homework Submitted!</td>
							{% else %}
							<td>No Submission</td>
							{% endif %}
	
							{% for submissions in submission%}
							{% if submission %}
							<td>{{ submissions.Comment }}</td>
							{% endif %}
							{% endfor %}
                    </tr>

				</table>

			</div>
		</div>
		{% if not submission %}
            <form method="post" enctype="multipart/form-data">
            	{% csrf_token %}
            	{{form}}<button type="submit">Submit</button>
        </form>
		{% endif %}   
            
		</div>
	</div>
    {% endblock %}
</html>