{% extends 'navigationbar_tutor.html' %}
<!DOCTYPE html>
<html>
    <head>
		{% load static %}
		<title> {% block title %}Module | NOODLE{% endblock %} </title>
		{% block head %}
		<link href = "{%static 'my_app/module-style.css'%}" type = "text/css" rel = "stylesheet">
		{% endblock %}
    </head>

{% block body %}



	<div id = "main">
		<div id = "top">
			<h3 style = "text-align: left; float: left; padding-left: 20px">MODULE</h1>
			<h3 style = "text-align: right; float: right; padding-right: 20px">Name: {{user.last_name}}, {{user.first_name}}</h1>
		</div>
		<br><br><br><br>
		<div id = "content">
			<div id = "table">
				<table id = "tab1">
					<tr class = 'ModuleTitle'>
						<th>{{module.ModuleTitle}}</th>
					</tr>

					<tr>
						<th style = "padding-bottom: 25px; padding-left: 20px;text-align:center">
							<a href = "{{module.file.url}}">DOWNLOAD Module File Here!</a>
						</th>
					</tr>

					<tr>
						<td style = "padding-bottom: 25px">Date Uploaded: </td>
						<td style = "padding-bottom: 25px">{{module.pub_date}}</td>
					</tr>
					<tr>
						<td style = "padding-bottom: 25px">Details: </td>
						<td style = "padding-bottom: 25px">{{module.Description}}</td>
					</tr>
					<tr>
						<th>Homework </th>
					</tr>

					<tr>
						<td>Due date: </td>
						<td>{{HomeworkDetails.deadline}}</td>
					</tr>
	
					<tr>
						<td>Instructions: </td>
						<td>{{HomeworkDetails.details}}</td>
					</tr>
				</table>

				<br/>
				<br/>

				<table id = "tab2" border = "1">
					<tr>
						<th>Student Name</th>
						<th>Submission</th>
						<th>Comments</th>
					</tr>
					{% for student in Students %}
					
					<tr>
						<td>{{ student.user.first_name }} {{ student.user.last_name }}</td>

						{% for sub in submission_list %}
						{% if sub.StudentID == student and sub %}
						<td>Submission Available! View admin to download</td>
						
						{% if sub.Comment %}
						<td>{{sub.Comment}}</td>
						{% else %}
						<td>
							<form method = "POST">{% csrf_token %}{{form.Comment}}
							<button class = "btn btn-outline-info" type="submit" value = "Submit Comment">Submit Comment</button>
							<input name = "student"  style = "display:none" value = "{{ student.id }}">
							<input name = "HomeworkDetail" style = "display:none" value = "{{ sub.id }}">
							</form>
						</td>
						
						<!-- <td><a href = "{{module.ModuleTitle}}/module/comment/{{ sub.id }}">Comment Here please</a></td> -->
						{% endif %}
						{% endif %}
						{% endfor %}
						
					</tr>
					{% endfor %}

				</table>

			</div>
		</div>

	</div>

{% endblock %}
</html>