{% extends "navigationbar_tutor.html" %}
<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>{% block title %}MODULE{% endblock %}</title>
	{% block head %}
	<link href = "{% static 'my_app/module-style.css'%}" type = "text/css" rel = "stylesheet">
	{% endblock %}
</head>
{% block body %}

<br>

	<div id = "main">
		<div id = "top">
			<h1 style = "text-align: left; float: left; padding-left: 20px">MODULE: {{module.ModuleTitle}}</h1>
			<h1 style = "text-align: right; float: right; padding-right: 20px">Name: {{user.last_name}}, {{user.first_name}}</h1>
		</div>

		<div id = "content">
			<div id = "table">
				<table id = "tab1">
					<tr>
						<th>{{module.ModuleTitle}}</th>
					</tr>

					<tr>
						<th style = "padding-bottom: 25px; padding-left: 20px">
							<a href = "{{module.file.url}}" >Download Presentation File</a>
						</th>
					</tr>

					<tr>
						<td style = "padding-bottom: 25px">Date Uploaded: </td>
						<td style = "padding-bottom: 25px">{{module.pub_date}}</td>
					</tr>

					<tr>
						<th>Homework </th>
					</tr>
					{% if HomeworkDetails %}
					<tr>
						<td>Due date: </td>
						<td>{{HomeworkDetails.deadline}}</td>
					</tr>

					<tr>
						<td>Instructions: </td>
						<td>{{HomeworkDetails.details}}</td>
					</tr>
					{% else %}
					<tr>
						<td>No Homework posted</td>
					</tr>
					{% endif %}
				</table>

				<table id = "tab2" border="1">
					<tr>
						<th>Student Name</th>
						<th>Submission</th>
						<th>Comments</th>
					</tr>
					{% for student in Students %}
					
					<tr>
						<td>{{ student.user.first_name }} {{ student.user.last_name }}</td>

						{% for sub in submission_list %}
						{% if sub.StudentID == student and sub %}
						<td>submission given</td>
						
						{% if sub.Comment %}
						<td>{{sub.Comment}}</td>
						{% else %}
						<td><a href = "{{module.ModuleTitle}}/module/comment/{{ sub.id }}">Comment Here please</a></td>
						{% endif %}
						{% endif %}
						{% endfor %}
						
					</tr>
					{% endfor %}
					<!-- <tr>
						<td>DELA CRUZ, Juan R.</td>
						<td>02 March 2019</td>
						<td>Well done!</td>
					</tr> -->

				</table>

			</div>
		</div>

	</div>

{% endblock %}
</html>