html 
{
    height: 100%;
}
body
{
	background-color: black;
    background-image: linear-gradient(#182848, #11ffbd);
    color:white;
    background-size:auto;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main
{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
    
	font-family: "Trebuchet MS";
	text-align: center;
    align-content: center;
    font-size: 18px;  
}

#top /*label of page (ex: EDIT PROFILE), and name of user identified*/
{
    font-size: 20px;
}

#content-student /*everything in the black box of student*/
{
    padding-top: 40px;
	padding-left: 40px;
    padding-right: 40px;

	width: 600px;
	height: 690px;
    align-content: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;

	margin-top:  120px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;

	float: left;
	text-align: left;
}

#content-tutor /*everything in the black box of tutor*/
{
    padding-top: 40px;
	padding-left: 40px;
    padding-right: 40px;

	width: 600px;
	height: 550px;
    align-content: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;

	margin-top:  120px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;

	float: left;
	text-align: left;
}

input[type=text] /*inputted text in the white bixes*/
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 16px;
    background-color:whitesmoke;
}

input[type=text]:focus /*hovering design*/
{
    background-color: lightblue;
}

input[type=button], input[type=submit], input[type=reset] /*buttons*/
{
    background-color: black;
    border: none;
    color: white;
    font-size: 18px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

input:read-only /*uneditable fields*/
{ 
    color: grey;
    font-size: 16px;
}
