html 
{
    height: 100%;
}
body
{
	background-color: black;
    background-image: linear-gradient(#182848, #11ffbd);
    color:white;
    background-size:auto;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main
{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
    
	font-family: "Trebuchet MS";
	text-align: center;
    align-content: center;
    font-size: 18px;  
}

#top /*label of page (ex: EDIT PROFILE), and name of user identified*/
{
    font-size: 20px;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.left /*control size of left column*/
{
  left: 0;
}

.right /*control size of right column */
{
  right: 0;   
}

#content-student
{
	padding-top: 40px;
	clear: both;

	width: 400px;
	height: 170px;
    align-content: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
	margin-top:  150px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
    text-align: center;      
}
#content-tutor
{
	padding-top: 40px;
	clear: both;

	width: 400px;
	height: 240px;
    align-content: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
	margin-top:  150px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
    text-align: center;      
}

#news
{
    padding-top: 10px;
	clear: both;

	width: inherit;
	height: 250px;
    align-content: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
	margin-top:  150px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: 30px;
    text-align: center;
}
#due
{
    padding-top: 10px;
	clear: both;

	width: inherit;
	height: 170px;
    align-content: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
	margin-top:  30px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: 30px;
    text-align: center;
}


a /*links*/
{
    font-size: 18px;
    color:lightsalmon;
}

input[type=button], input[type=submit], input[type=reset] /*buttons*/
{
    
    width: 100%;
    background: rgba(0, 0, 0, 0);
    border:none;
    color:lightsalmon;
    font-size: 20px;
    padding: 20px 35px;
    text-decoration: none;
    margin:;
    cursor: pointer;
}

input[type=button]:hover /*buttons*/
{
  background-color: rgba(0, 0, 0, 0.7);
}
table
{
    width: 100%;
    border-collapse: collapse;
    font-family: "Trebuchet MS";
}

table, th, td 
{
    font-family: "Trebuchet MS";
    padding: 10px;
}
th
{
    padding: 10px;
    text-align: left;
    color:cadetblue;
    font-size: 20px;
}
td
{
    text-align: left;
    padding-left: 15px;
}

