html 
{
    height: 100%;
}
body
{
	background-color: black;
    background-image: linear-gradient(#182848, #11ffbd);
    color:white;
    background-size:auto;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main
{
	margin-top:  auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;

	font-family: "Trebuchet MS";
	text-align: center;
    align-content: center;
    font-size: 18px;
}

#top
{
    font-size: 20px;
}

#content-student /*black box for student*/
{
	padding-top: 40px;
	clear: both;

	width: 600px;
	height: 370px;
    align-content: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;

	margin-top:  150px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}

#content-tutor /*black box for tutor*/
{
	padding-top: 40px;
	clear: both;

	width: 600px;
	height: 240px;
    align-content: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;

	margin-top:  150px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}

#content-extended /*black box for tutor*/
{
	padding-top: 40px;
	clear: both;

	width: 600px;
	height: 700px;
    align-content: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;

	margin-top:  150px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}

a /*links*/
{
    font-size: 18px;
    color:lightsalmon;
}


input[type=button], input[type=submit], input[type=reset] /*buttons*/
{
    background-color: black;
    border: none;
    color: white;
    font-size: 18px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

table, th, td 
{
    border-collapse: collapse;
    font-family: "Trebuchet MS";
}
th
{
    padding: 10px;
    text-align: right;
    color:cadetblue;
    font-size: 20px;
}
td
{
    text-align: left;
    padding-left: 15px;
}

#tutor-link
{
    font-size: 18px;
}


